@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    width: 100vw;
    height: 60px;
    background: #141517;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
 }
 .navbar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.rgt a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
}
.rgt a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
 nav h1{
     color: aliceblue;
     font-size: 20px;
     border-radius: 50%;
     background: #9a8478;
     width: 45px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 nav h1:active{
    background: crimson;
}
 
 nav button{
     padding: 10px 30px;
     background: darkred;
     cursor: pointer;
 }
 .mobnav{
    position: absolute;
    top: 13px;
    right: 30px;
    display: none;
 }
 #menu, #can{
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.show{
    display: none;
}

.main{
    flex: 1;
}

.preview{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffcc;
    z-index: -7;
    padding: 60px 0 10px;
}

#side{
    background: #222;
    height: 100vh;
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 200px;
    color: aliceblue; 
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 9;
}

ul{
    padding: 20px;
}

#side h2{
   width: 150px;
   font-size: 23px;
   margin-right: 10px;
}

#skills{
  width: 20%;
  height: 400px;
  margin-left: 200px;
}

#sec-field{
  width: 50%;
  height: 400px;
}

#sec-field li{
    font-size: 17px;
    margin-bottom: 5px;
}

footer{
    background: #000;
    height: 60px;
    color: #666;
    word-spacing: 2px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 10px 0;
}

@media screen and (max-width: 800px){
 
    .preview{
        width: 100%;
        max-width: 80%;
        margin: auto;
        padding-left: 120px;
        gap: .2rem;
        flex-direction: column;
    }

    #sec-field{
        width: 100%;
        height: auto;
        margin-left: 80px;
    }
    #skills{
        width: 100%;
        height: auto;
        margin-left: 80px;
        
    }
    #skills ul{
        display: flex;
        flex-wrap: wrap;
    }
    #skills ul li {
        flex-basis: 150px;
    }

    #skills ul li, #sec-field ul li{
        margin-left: 10px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px){
    .preview{
        padding: 70px 0 10px 100px;
    }

    ul{
        padding: 10px;
    }
    #skills ul li, #sec-field ul li{
       font-size: 16px;
    }
    #side {
        width: 180px;
        
    }
    #side h2{
        font-size: 20px ;
    }

}

@media screen and (max-width: 507px){
    nav h1{
        font-size: 18px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .mobnav{
        display: block;
    }
    #can{
        display: none;
    }

    .show{
        background: #000;
        width: 100%;
        height: 280px;
        position: absolute;
        top: -58px;
        left: 0;
        overflow-y: scroll;
    }
    
    .show.active{
        top: 58px;
        display: block;
        transition: all 10s;
    }
    
    .show ul{
        padding: 10px 0;
        list-style: none;
    }
    
   
    .show ul a{
        font-size: 15px;
        text-decoration: none;
    }
    
    .show ul li{
        border-bottom: 1px solid #fff;
        padding:  20px 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-decoration: none;
        color: aliceblue;
    }
    .show ul li:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
    }
  
    .rgt{
        display: none;
    }

    #side{
        width: 100%;
        height: 50px;
        top: 60px;
        left: 0;
        position: absolute;
    }
    #side h2{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .preview{
        padding-left: 5px;
        padding-top: 120px;
    }

    #skills, #sec-field{
        margin-left: 0;
    }

    #skills ul li, #sec-field ul li{
        font-size: 15px;
     }
     footer{
        text-align: center;
     }

     @media screen and (max-width: 263px) {
        .show{
                height: 200px;
            }
            
            .show ul{
                padding: 2px 0;
                list-style: none;
            }
            
            .show ul li{
                padding: 10px;
                margin-bottom: 5px;
            }
            
            .show ul a{
                font-size: 14px;
            }
        }
    }
